<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<h3>Product</h3>

 <!-- Top row with form-->
 <div class="row">
	 <div class="col-12">
			<form class="form-inline" id="product-form">
			  <div class="form-group">
			    <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="enter barcode of product" required>
			    </div>
			  </div>
			  <div class="form-group" id="brand_drop">
			    <label for="inputBrand" class="col-sm-2 col-form-label">Brand</label>
				<div class="col-sm-10">
					<select name="brand" id="inputBrand" class="brands form-control">
					</select>
				</div>	
			  </div>
			  <div class="form-group" >
				<label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
				<div class="col-sm-10">
					<select name="category" id="inputCategory" class="categorys form-control">
						<option selected="true" disabled="disabled" value="select">--Select--</option>
					</select>
				</div>
			  </div>
			  <br>
			  <br>
			  &nbsp;
			  &nbsp;
			  &nbsp;
			  &nbsp;
			  &nbsp;
			  &nbsp;
			  &nbsp;
			  &nbsp;
			  &nbsp;
			  &nbsp;
			  <div class="form-group">
			    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="name" id="inputName" placeholder="enter name of product" required>
			    </div>
			  </div>
			  &nbsp;&nbsp;&nbsp;
			  <div class="form-group">
			    <label for="inputMrp" class="col-sm-2 col-form-label">MRP</label>
			    <div class="col-sm-10">
			      <input type="number" min="0.00" step="0.05" class="form-control" name="mrp" id="inputMrp" placeholder="enter mrp of product" required>
			    </div>
			  </div>
			  <button type="button" class="btn btn-primary add_btn" id="add-product">Add</button>
			  &nbsp;
			  <button type="button" class="btn btn-primary upload_btn" id="upload-data">Upload</button>
			</form>
	 </div>	
</div> 


<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>
<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-striped" id="product-table">
	  <thead  class="thead-dark">
	    <tr>
	      <th class="coloumn" scope="col">ID</th>
		  <th scope="col">S.No</th>
	      <th scope="col">Barcode</th>
	      <th scope="col">Brand</th>
		  <th scope="col">Category</th>
	      <th scope="col">Name</th>
		  <th scope="col">MRP</th>
		  <th scope="col">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>

</div>
</div>

<!-- Employee Edit Modal -->
<div class="modal" tabindex="-1" role="dialog" id="edit-product-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<form class="form-inline" id="product-edit-form">
				  <div class="form-group">
					<label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" name="barcode" placeholder="enter barcode" required>
					</div>
				  </div>
				  <br>
			      <br>
				  <div class="form-group">
					<label for="inputEditBrand" class="col-sm-2 col-form-label">Brand &nbsp;&nbsp;&nbsp;</label>
					<div class="col-sm-10">
						<select name="brand" id="inputEditBrand"class="brands form-control">
						</select>
					</div>
				  </div>
				  <br>
			      <br>
				  <div class="form-group">
					<label for="inputEditCategory" class="col-sm-2 col-form-label">Category &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
					<div class="col-sm-10">
						<select name="category" id="inputEditCategory" class="categorys form-control">
						</select>
					</div>
				  </div>
				  <br>
			      <br>
				  <div class="form-group">
					<label for="inputName" class="col-sm-2 col-form-label">Name</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" name="name" placeholder="enter name" required>
					</div>
				  </div>
				  <br>
			      <br>
				  <div class="form-group">
					<label for="inputMrp" class="col-sm-2 col-form-label">MRP</label>
					<div class="col-sm-10">
					  <input type="number" min="0.00" step="0.05" class="form-control" name="mrp" placeholder="enter mrp" required>
					</div>
				  </div>
 	        <input type="hidden" name="id" >
			</form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary upload_btn" id="update-product">Update</button>
      </div>
    </div>
  </div>
</div>


<!-- Employee Edit Modal -->
<div class="modal" tabindex="-1" role="dialog" id="upload-product-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title">Upload Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      	<div class="employee-file">
		  <input type="file" class="custom-file-input" id="productFile">
		  <label class="custom-file-label" for="productFile" id="productFileName">Choose file</label>
		</div>
		<a th:href="@{/sample/product.tsv}" target="_blank">Download Sample</a> 
		<br>
		Rows: <span id="rowCount">0</span>, 
		Processed: <span id="processCount">0</span>, 
		Errors: <span id="errorCount">0</span>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary upload_btn" id="process-data">Upload</button>
        <button type="button" class="btn btn-warning " id="download-errors">Download Errors</button>
      </div>
    </div>
  </div>
</div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/product.js}"></script>

</body>	

</html>